@page
@model SDSCom.Pages.Administrator.AdminIndexModel
@{
    ViewData["Title"] = "AdminIndex";
}

@Html.Partial("./HeaderPartial")

<form method="post">
    <input id="btnCache" type="button" value="Clear Cache" class="btn-danger" onclick="clearCache()" />
    <br />
    <br />
    <input type="submit" class="btn-link" asp-page-handler="OpenApplicationSettings"
           id="hlAppSettings" value="Application Settings" />
    <br />
    <br />
    <input type="submit" class="btn-link" asp-page-handler="OpenUsers"
           id="hlUserList" value="Users" />
    <br />
    <br />
    <input type="submit" class="btn-link" asp-page-handler="Transform"
           id="hlSelectProduct" value="Transform XML" />
    <br />
    <br />
    <input type="submit" class="btn-link" asp-page-handler="CreateDBObjects"
           id="hlCreateDBObjects" value="Create DB Objects" />
    <br />
    <br />
    <input type="submit" class="btn-link" asp-page-handler="LoadComponents"
           id="hlLoadComponents" value="Load Components" />

</form>

