@page 
@model SDSCom.Pages.Administrator.ViewDocumentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDocument</title>
</head>
<body>

    @Html.Raw(@ViewData["Document"])

</body>
</html>
