@page
@model SDSCom.Pages.AppMenuModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Application Menu";
}

@Html.Partial("./HeaderPartial")

<form method="post">
    <div id="divMain">
        <div id="divAdmin" class="modcard">
            <div class="card-body">
                <h4 class="card-title">Administration</h4>
                <p class="card-text">Administrative services for this application</p>
                <input type="submit" class="btn-link" asp-page-handler="OpenAdmin" id="hlAdmin" value="Administrator" />
            </div>
        </div>
        <div id="divAuthor" class="modcard">
            <div class="card-body">
                <h4 class="card-title">SDS Authoring</h4>
                <p class="card-text">Authoring services for this application.</p>
                <input type="submit" class="btn-link" asp-page-handler="OpenAuthor" id="hlAuthor" value="Author" />
            </div>
        </div>
        <br />
        <br />
        <br />
        <a href="about.html" class="btn-link">About</a>
    </div>
</form>
