@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <div>

        Login to the SDSCom Application
        <br />
        <br />
        <input class="btn-primary" type="submit" asp-page-handler="AppLogin" value="Login" />
    </div>
</form>
