<div id="entityInfo" class="table-bordered row">
    <div class="col-sm-6 text-left">
        Product Name: @ViewData["ProductName"]
    </div>
    <div class="col-sm-6 text-right">
        ProductID: @ViewData["ProductOtherId"]
    </div>
</div>