@page
@model SDSCom.Pages.Author.ImportModel
@{
    ViewData["Title"] = "Import";
}

@Html.Partial("././HeaderPartial")

<form method="post">
    <div id="divMain">
        <div>
            <input type="submit" class="btn-primary" asp-page-handler="ImportDocs"
                   id="hlImport" value="Import Document(s)" />
        </div>
    </div>
</form>

