@page
@model RegulationsRelatedToCountryOrRegionModel
@{

    ViewData["Title"] = "Regulations Related To Country Or Region Model";

}
 @Html.Partial("././HeaderPartial")


<form method="post">

<label>Regulations Related To Country Or Region</label>

    <div class="form-group">
        <label>Code"</label>
        <input asp-for="@Model.RegRelated.RegulationsRelatedToCountryOrRegionCode" class="form-control" />
    </div>

    <div class="form-group">
        <label>Name:</label>
        <input asp-for="@Model.RegRelated.RegulationsRelatedToCountryOrRegionName" class="form-control" />
    </div>

     <div id="divButtons" class="row">
        <div class="col-sm-4 text-left">
            <input type="submit" class="btn-primary" id="saveRegOther" value="Save" asp-page-handler="Save" />
        </div>
        <div class="col-sm-4 text-right">
            <input type="button" class="btn-default" id="cancelRegOthre" value="Cancel" onclick="javascript:history.go(-1)" />
        </div>
         <div class="col-sm-4 text-right">
            <input type="submit" class="btn-warning" id="delteRegOther" value="Delete" asp-page-handler="Delete" />
        </div>
    </div>

</form>
